@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<style>
    img {
        float: left;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .container {
        padding-top: 20px
    }

    .button {
        display: none;
    }

    .bi-star {
        border-color: gold;
        stroke: gold
    }

    .bi-star-fill {
        color: gold
    }
</style>

@for (int i = 0; i < Model.Count(); i += 4)
{
    <div class="row" style="margin-top: 20px;">
        @for (int j = i; j < i + 4; j++)
        {
            @if (j < Model.Count())
            {
                var product = Model.ElementAt(j);
                var imagePath = j > 7 ? "~/images/" + product.ProductImagePath : product.ProductImagePath;
                <div class="col-3">
                    <div class="card" style="max-width:20rem">
                        <div class="card-header">
                            <h3>@product.ProductTitle</h3>
                        </div>
                        <img src=@imagePath class="card-img-top imageThumbnail" asp-append-version="true">
                        <div class="card-footer">
                            <div class="container py-0" style="padding-left:1em">
                                <div class="row h-auto">
                                    @if (product.Wanted)
                                    {
                                        <a class="btn btn-primary btn-sm" asp-route-id=@product.ProductID asp-controller="Home" asp-action="Want">Wanted</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-outline-primary btn-sm" asp-route-id=@product.ProductID asp-controller="Home" asp-action="Want">Want</a>
                                    }
                                    <div class="ml-auto" style="display:inline">
                                        @if (product.ProductRating == 0)
                                        {
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        }
                                        else if (product.ProductRating == 1)
                                        {
                                            <span class="bi bi-star-fill"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        }
                                        else if (product.ProductRating == 2)
                                        {
                                            <span class="bi bi-star-fill"></span>
                                            <span class="bi bi-star-fill"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        }
                                        else if (product.ProductRating == 3)
                                        {
                                            <span class="bi bi-star-fill"></span>
                                            <span class="bi bi-star-fill"></span>
                                            <span class="bi bi-star-fill"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                        }
                                        else if (product.ProductRating == 4)
                                        {
                                            <span class="bi bi-star-fill"></span>
                                            <span class="bi bi-star-fill"></span>
                                            <span class="bi bi-star-fill"></span>
                                            <span class="bi bi-star-fill"></span>
                                            <span class="bi bi-star"></span>
                                        }
                                        else if (product.ProductRating == 5)
                                        {
                                            <span class="bi bi-star-fill"></span>
                                            <span class="bi bi-star-fill"></span>
                                            <span class="bi bi-star-fill"></span>
                                            <span class="bi bi-star-fill"></span>
                                            <span class="bi bi-star-fill"></span>
                                        }
                                    </div>
                                </div>
                                <div class="row h-25" style="margin-top:5px">
                                    <span style="font-size:11.5px">demand: @product.ProductDemand</span>
                                    <span class="ml-auto" style="font-size:11.5px">only @product.ProductAvailability left</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
}

@*<div class="card-deck">
        @foreach (var product in Model)
        {
            var imagePath = "~/images/" + product.ProductImagePath;
            <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
                <div class="card-header">
                    <h3>@product.ProductTitle</h3>
                </div>
                <img src=@imagePath class="card-img-top imageThumbnail" asp-append-version="true">
                <div class="card-footer">
                    <div class="container py-0" style="padding-left:1em">
                        <div class="row h-auto">
                            <div class="ml-auto" style="display:inline">
                                @if (product.ProductRating == 0)
                                {
                                    <span class="bi bi-star"></span>
                                    <span class="bi bi-star"></span>
                                    <span class="bi bi-star"></span>
                                    <span class="bi bi-star"></span>
                                    <span class="bi bi-star"></span>
                                }
                                else if (product.ProductRating == 1)
                                {
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star"></span>
                                    <span class="bi bi-star"></span>
                                    <span class="bi bi-star"></span>
                                    <span class="bi bi-star"></span>
                                }
                                else if (product.ProductRating == 2)
                                {
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star"></span>
                                    <span class="bi bi-star"></span>
                                    <span class="bi bi-star"></span>
                                }
                                else if (product.ProductRating == 3)
                                {
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star"></span>
                                    <span class="bi bi-star"></span>
                                }
                                else if (product.ProductRating == 4)
                                {
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star"></span>
                                }
                                else if (product.ProductRating == 5)
                                {
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                    <span class="bi bi-star-fill"></span>
                                }
                            </div>
                        </div>
                        <div class="row h-25">
                            <button href="#" class="btn btn-outline-primary btn-sm">Want</button>
                            <span class="ml-auto">only @product.ProductAvailability left</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>*@

@*<div class="card" style="max-width:20rem">
        @{
            var imagePath = "~/images/" + Model.ElementAt(j).ProductImagePath;
        }
        <img src=@imagePath class="card-img-top" asp-append-version="true">
        <div class="card-body">
            <div class="container py-0" style="padding-left:1em">
                <div class="row h-auto">
                    <h6 class="card-title" style="display:inline">@Model.ElementAt(j).ProductTitle</h6>
                    <div class="ml-auto" style="display:inline">
                        @if (Model.ElementAt(j).ProductRating == 0)
                        {
                            <span class="bi bi-star"></span>
                            <span class="bi bi-star"></span>
                            <span class="bi bi-star"></span>
                            <span class="bi bi-star"></span>
                            <span class="bi bi-star"></span>
                        }
                        else if (Model.ElementAt(j).ProductRating == 1)
                        {
                            <span class="bi bi-star-fill"></span>
                            <span class="bi bi-star"></span>
                            <span class="bi bi-star"></span>
                            <span class="bi bi-star"></span>
                            <span class="bi bi-star"></span>
                        }
                        else if (Model.ElementAt(j).ProductRating == 2)
                        {
                            <span class="bi bi-star-fill"></span>
                            <span class="bi bi-star-fill"></span>
                            <span class="bi bi-star"></span>
                            <span class="bi bi-star"></span>
                            <span class="bi bi-star"></span>
                        }
                        else if (Model.ElementAt(j).ProductRating == 3)
                        {
                            <span class="bi bi-star-fill"></span>
                            <span class="bi bi-star-fill"></span>
                            <span class="bi bi-star-fill"></span>
                            <span class="bi bi-star"></span>
                            <span class="bi bi-star"></span>
                        }
                        else if (Model.ElementAt(j).ProductRating == 4)
                        {
                            <span class="bi bi-star-fill"></span>
                            <span class="bi bi-star-fill"></span>
                            <span class="bi bi-star-fill"></span>
                            <span class="bi bi-star-fill"></span>
                            <span class="bi bi-star"></span>
                        }
                        else if (Model.ElementAt(j).ProductRating == 5)
                        {
                            <span class="bi bi-star-fill"></span>
                            <span class="bi bi-star-fill"></span>
                            <span class="bi bi-star-fill"></span>
                            <span class="bi bi-star-fill"></span>
                            <span class="bi bi-star-fill"></span>
                        }
                    </div>
                </div>
                <div class="row h-25">
                    <button href="#" class="btn btn-outline-primary btn-sm">Want</button>
                    <span class="ml-auto">only @Model.ElementAt(j).ProductAvailability left</span>
                </div>
            </div>
        </div>
    </div>*@
